<ion-header>
  <ion-toolbar class="head" text-center>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <img src="../assets/img/logo.png" class="logo" />
  </ion-toolbar>
  <ion-title class="text">
    <img src="../assets/icon/hand-copy.png" style="height:20px;" />
    FAVORITES
  </ion-title>
</ion-header>

<ion-content class="card-background-page">
  <ion-slides *ngIf="videos" class="slide home_slider" #Slides_banner [options]="SlideOption" scrollbar=false
    (ionSlideDidChange)="slideChanged($event.target)">
    <ion-slide *ngFor="let v of videos; let i=index;" class="slide-height {{ i == 0 ? '' : 'hidden-content'}}"
      data-id="{{'slides_'+i}}" (click)="clickFunction(i)">
      <img *ngIf="v.img_src" [src]="[v.img_src]" class="card-size {{ i == 0 ? '' : 'grey'}}" />

      <div class="card-title">{{v.name}} <br>{{v.desc}}</div>

      <div class="card-star">
        <ion-button class="btn-fav" (click)="unFav(v.id)">
          <img src="../assets/icon/hand-copy.png" class="fav" />
          <!-- {{myimage}}" (click)="addEvent();" -->
        </ion-button>
      </div>

      <div class="card-add">
        <ion-fab vertical="top" horizontal="start" slot="fixed" class="fab">
          <ion-fab-button size="small" class="fab" (click)="sharePicker()">
            <!-- <img src="../assets/icon/share.png" class="share" /> -->
            <ion-icon name="share" class="share" mode="md"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </div>

      <div class="card-play">
        <ion-button (click)="start(v.vid_src)" fill="clear">
          <img src="../assets/icon/video.png" class="video" />
        </ion-button>
      </div>

      <div class="card-time">
        <ion-badge color="transparent">{{v.vidDuration}}</ion-badge>
      </div>
    </ion-slide>

  </ion-slides>
  <div *ngIf="!videos" class="no_video_div">
    <p>No Videos Found.</p>
  </div>

</ion-content>